@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@500&family=Outfit:wght@300;600;800&family=Public+Sans:wght@300;600;900&display=swap');

* {
	font-family: 'Outfit', sans-serif;
	box-sizing: border-box;
	color: #202124;
}

/* tags */
body {
	margin: 0% 30%;
}

header {

}

header > img {
	width: 60%;
	align-self: center;
	margin-top: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
}

h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}

p {
    font-size: 17px;
}

nav {
    justify-content: center;
    padding-top: 1%;
}

ul {
    padding: 0;
    list-style: none;
    width: 100%;
}

ul > a {
	width: 100%;
	margin: 0;
}

li {
	text-align: center;
	background-color: #9AA0A6;
	padding: 10px;
	margin-right: 5%;
	color: white;
	height: 100%;
	border-radius: 1%;
}

li:hover {
	background: black;
	transition: 0.5s;
}

ul > a:last-child {
	margin-right: 0%;
}

a {
    text-decoration: none;
}

footer {
	padding: 5% 0%;
    text-align: center;
}

/* general classes */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
    width: 70%;
}

.column {
    flex-direction: column;
}

/* box */
.box {
	width: 100%;
}

/* row */
.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	padding-top: 4%;
}


/* card */
.card > a > img {
	height: 250px;
	opacity: 90%;
}

.card { 
	width: 236px;
	margin-right: 5%
	width: 50%;
}

/* trends terms box */

.trends-box {
	height: 90%;
}

.trends-box > a.item-3 {
	border-bottom: 0.5px solid white;
}

.trends-box > a.item {
	border-top: 0.5px solid white;
	text-align: center;
}

.trends-box > a.item:hover{
	background-color: #F8F9FA;
	color: #508CF4;
	border-radius: 3%;
	transition: 0.5s;
}

.trends-cicles {
	width: 100%;
	height: 10%;
	justify-content: center;
	margin: 6% 0%;
}

.circle { 
	display: block;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	margin-right: 2%;
	background-color: white; 
}

.label {
	width: 100%;
	height: 20%;
	text-align: center;
	flex-direction: column;
}

.label > p {
	margin: 0 !important;
	font-weight: 400;
	background-color: gray;
	color: white;
}

/* colors */
.blue {
	background-color: #508CF4; 
}

.border-blue {
	border: 5px solid #508CF4;
	border-radius: 3%;
}

.red {
	background-color: #E86C64;
}

.border-red {
	border: 5px solid #E86C64;
	border-radius: 3%;
}

.yellow {
	background-color: #F8CC54;
}

.border-yellow {
	border: 5px solid #F8CC54;
	border-radius: 3%;
}

.green {
	background-color: #20A444;
}

.border-green {
	border: 5px solid #20A444;
	border-radius: 3%;
}

/* 
MOBILE 
*/
@media only screen and (max-width: 900px) {
    /* For mobile phones: */

    body {
    	margin: 0% 10%;
    }

    header > img {
    	width: 90%;
    }

    h1 {
    	font-size: 25px
    }

    h2 {
    	font-size: 20px;
    }

    .flex {
    	display: flex;
    	flex-wrap: wrap;
    }

    ul > a {
    	margin-top: 3%;
    }

    .card {
    	margin-top: 8%;
    }

    .trends-box {
    	height: 20vh;
    }

    .trends-box > a.item {
    	width: 100%;
    	height: 18%;
    }

    .trends-term > p {
    	font-size: 16px;
    	margin: 1.5%;
    }

    .trends-cicles {
    	margin: 3% 0%;
    }

    .circle {
    	height: 3px;
    	width: 3px;
    }

    .label > p {
    	font-size: 18px;
    }

    footer {
    	font-size: 13px;
    }

}
